table {
    text-align: center;
	font-size: 24px;
    width: 100%;
    table-layout: fixed;
    background-color:rgba(187, 190, 216, 0.897);
}
th {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    height: 40px;
    background-color: rgb(241, 10, 10);
    border: 1px solid  rgb(0, 0, 0);
    border-collapse: collapse;
}
th a {
    text-decoration: none;
    color: rgb(14, 65, 14);
    font-weight: bold;
}
th:hover {
    background-color: rgb(208, 255, 0);
    cursor: pointer;
}
#hranaIpice {
    max-width: 90%;
    background: url("slike/foodbeer1.jpg");
    background-size: contain;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-weight: bold;
    color: rgb(2, 1, 32);  
}
.opacitylist {
    background: rgba(255, 255, 255, .45)
}
#jaslika {
    float: right;
    max-width: 25%;
}
tfoot {
    font-family: Georgia, serif;
    font-size: 18px;
    background-color: rgb(119, 116, 116);
}
marquee img {
	max-width: 100%;
	max-height: 100%;
	width: 500px;
	height: 250px;
    }
a:visited {
    text-decoration: none;
    color:rgb(14, 65, 14);
}
